
.stylish span {position:relative;}
.stylish select {position:absolute;left:0px;display:none}

/* beauty */
.stylish input {
    width:250px;
    padding:5px;
}
.stylish select {
    min-width:260px;
    margin-top:1px;
    border-top:none;
}
.stylish select option {
    padding:12px 0px 10px 24px;
    box-shadow:32px -25px 50px -40px black inset;
}
.stylish select optgroup {
    padding:15px 20px 7px 0px;
    text-align:center;
    font:15px candara,sans-serif;
    text-shadow:1px 3px 5px black;
    font-weight:bold;
    color:white;
    background:radial-gradient(ellipse at 50% -40px, white, #003853);
}

body{
	margin: 0;
	font-family: "Lato";
}
optionClassName{
	    padding: 15px 20px 7px 0px;
    text-align: center;
    font: 15px candara,sans-serif;
    text-shadow: 1px 3px 5px black;
    font-weight: bold;
    color: white;
    background: radial-gradient(ellipse at 50% -40px, white, #003853);
	
}
#container{
	   height: 100%;
       width: 25%;
       background-color: white;
       font-size: 0;
       text-align: center;
       overflow-y:scroll;
}#map-canvas{
	height: 35%;
    width: 100%;
    right: 0;
    z-index: 0;
    position: fixed !important;
}
#company-details{
	font-size: 30px;
	
}
#serviceContainer, #staffContainer{
	display: inline-block;
    vertical-align: top;
    width: 50%;
    top: 15%;
}
#serviceContainer select, #staffContainer select{
	     border-color: #d3d3d3;
  background: #f8f8f8;
  width: 37%;
  box-shadow: 5px 7px 15px 0 rgba(23,55,87,.1), 0 1px 5px 0 rgba(0,0,0,.05);
  margin-top: 30%;
  float: left;
  padding: 10px;
  margin-left: 5%;
  width: 90%;
  background: #fff;
  color: $input-text-color;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
      height: 50px;
  padding: 22px 18px;
}
#datePicker{
	
     border-color: #d3d3d3;
  background: #f8f8f8;
  width: 37%;
  box-shadow: 5px 7px 15px 0 rgba(23,55,87,.1), 0 1px 5px 0 rgba(0,0,0,.05);
  margin-top: 12%;
  float: left;
  padding: 10px;
  margin-left: 8px;
  width: 85%;
  background: #fff;
  color: $input-text-color;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
#availableSlots{
	top: 50%;
	width: 60%;
display: block;
position: absolute;
bottom: 20%;
left: 40%;
top: 15%;
}
#slotsUl {
position: absolute;
top: 44%;
list-style: none;
    width: 85%;
    height: 80%;
    overflow: scroll;
}
.noSlots{
    font-size: 21px;
    text-align: center;
    padding-top: 12%;
}
.ScrollStyle
{
    max-height: 150px;
    overflow-y: scroll;
}

.slotsLi {
padding: 18px 12px 15px 4px;
float: left;
color: red;
}
.staffNameUl
{
	height: 50%;
}
.slotsLi{
background: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,0.14);
    border-radius: 11.59px;
    font-family: Lato-Bold;
    font-size: 14px;
    color: #006CED;
    
    width: 11%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}
.staffAllLi{
	
	width:10%;
	    padding-left: 0;
    font-size: 21px;
}
#customerSubmit{
	
	color: white;
    width: 200px;
    border-radius: 4px;
    padding: 14px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 19px;
    background-color: rgb(17, 195, 188);
}#customerForm{
	width: 75%;
    position: absolute;
    left: 820px;
    top: 317px;
    height: 75%;
}
#customerHeader{
    font-size: larger;
    left: -78px;
    position: absolute;
    top: -36px;
}
#firstNameDiv{
	position: relative;
    height: 50px;
    font-family: sans-serif;
    font-size: large;
}
#firstName{
	height: 26px;
    width: 208px;  
}
#lastNameDiv{
	
	position: relative;
    height: 50px;
    font-family: sans-serif;
    font-size: large;
}
#lastName{
	height: 26px;
    width: 211px;
}#emailDiv{
	position: relative;
    height: 50px;
    font-family: sans-serif;
    font-size: large;
}
#email{
	height: 26px;
    width: 208px;
}
#appointmentConfirmation{
	position: absolute;
    left: 818px;
    top: 346px;
}
#bookAppointment{
	color: white;
    width: 200px;
    border-radius: 4px;
    padding: 14px;
    margin-top: 43px;
    cursor: pointer;
    font-size: 19px;
    background-color: rgb(17, 195, 188)
}

#loader{	
   width:20px;
   height:20px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:2px solid;
   border-top-color:rgba(0,0,0, 0.65);
   border-bottom-color:rgba(0,0,0, 0.15);
   border-left-color:rgba(0,0,0, 0.65);
   border-right-color:rgba(0,0,0, 0.15);
   -webkit-animation: preloader4 0.8s linear infinite;
   animation: loader 0.8s linear infinite;
   position:fixed;
    top: 70%;
    left: 66%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); 
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes loader {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes loader {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}.ui-datepicker table {
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

#customerForm{
	position: absolute;
    right: 229px;
    top: 438px;
}
.staffLi{
    width: 10%;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}

